<%- include('../partial/header') %> 

    <!-- <div>
        <a id='logout' href="/logout">
            Logout
        </a>
    </div> -->
    <% recipe.forEach(function(r){ %> 
    
        <ul>
            <h1 id='recipe-title'>
                <%= r.recipe %>
            </h1>

            <a id='recipe-tag' href="/cookbook/<%= r._id %>">
                Recipe
            </a>
        </ul>

    <% }); %> 

    <%- include('../partial/footer') %> 

