<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <title>Alpaca Bowl Cookbook</title>
</head>
<header>
    <div id='title'>
        <h3>Alpaca Bowl</h3>
    </div>
    <div>
            <a id='login' href="/auth/google">
                Login
            </a>
    </div>
</header>
<body>
    <br>
    <h1 class='box'>Alpaca Bowl</h1>
    <h3 class='box'>
        <% if(user) { %>
          <a href="/auth/google">Login</a>
        <% }else{ %>
        <a href="/auth/google">Login</a>
        <% } %>
        </h3>
    <h3 class='box' id='lets-eat'>Let's Eat!</h3>
    <h3 class='box' id='quote'>good food ends with good talk</h3>
</body>
</html>

