<%- include('./partial/header') %> 
    <br>
    <h1 class='box'>
        Alpaca Bowl Cookbook
    </h1>

    <h3 class='box'>
        
        <% if(user) { %>
          <a href="/auth/google">
            Login
        </a>
        <% }else{ %>
        <a href="/auth/google">
            Login
        </a>
        <% } %>
    </h3>
    <a href='/auth/google' class='box' id='lets-eat'>See All Recipes</a>

    <%- include('./partial/footer') %> 