<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbook</title>
</head>
<body>
    <h1>Alpaca Bowl</h1>
    <h3>Let's Eat</h3>
    <div>
        <a href="/auth/google"> Login with Google</a>
    </div>
    <div>
        <a href="/logout">Log out</a>
    </div>
    <div>
        <a href="/auth/google">Learn More</a>
    </div>
</body>
</html>