<%- include('./partial/header') %> 
    <br>
    <h1 id='title' 
        class='box'>
        Alpaca Bowl Cookbook
    </h1>

    <h3 class='box'>
        
        <% if(user) { %>
            
          <a class="box" 
            href='/auth/google'>
            Login
        </a>

        <% }else{ %>

        <a class='box' 
            href='/auth/google'>
            Login
        </a>

        <% } %>

    </h3>

    <a class='box'
        href='/auth/google'>
        See All Recipes
    </a>

<%- include('./partial/footer') %> 