*{
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

header{
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body{
  background-image: url('https://i.imgur.com/OKN8Mu8.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: cursive;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  color: white;
}

.box{
  background-color: red;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

a:hover{
  font-size: 30px;
  color: white;
  background: red; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}