<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Max<span>Antezana</span></h3>
        <p class="footer-links">
            <a href="/" class="link-1">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </p>
        <p class="footer-company-name">Company Name © 2021</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p>Belmont, California</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+1.650.295.9778</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:maximo00antezana@gmail.com">maximo00antezana@gmail.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>Alpaca Bowl Cookbook</span>
            Inspired by my grandparents who owned La Cabana in Chincha Alta, Peru. 
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>
</body>
</html>