<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
    <h1 id='head-title'>Alpaca Bowl</h1>
  </head>
  <body>
    <header>
      <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><span></span></label>
      <label for="active" class="close"></label>
      <div class="wrapper">
        <% if (user) { %>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cookbook">Cookbook</a></li>
                <li><a href='/auth/google'>Login</a></li>
              </ul>
    
          <% }else{ %>
    
            <li><a href='/auth/google'>Login</a></li>
    
          <% } %>
      </div>
    </header>